body{
    max-width: 1280px;
    margin: auto;
    font-family: 'Poppins', sans-serif;
}

header {
    text-align: center;
    background-image: url("images/Winter/ski-obertauern-2077093_1280.jpg");
    zoom: -200%;
    height: 100%;
    width: 100%;
     background-position: 20 0%;
     padding-top: 180px;
     padding-bottom: 180px;
}

.menu {
    margin-top: -60px;
    color: white;
    border: 1px solid black;
    background-color: black;
    padding: 10px;
}

header h2 {
    font-size: 4em;
    font-family: 'Poppins', sans-serif;
    color: black;
    margin: 0;
    padding-bottom: 1em 0;
    padding-top: 1em 0;
}

h3 {
        font-size: 2em;
        font-family: 'Poppins', sans-serif;
        color:black;
        margin: 0;
        padding: 1em 0;}

h4 {
            font-size: 2em;
            font-family: 'Poppins', sans-serif;
            color:black;
            margin: 0;
            padding: 1em 0;

}

p {
    font-family: 'Poppins', sans-serif;
  }

  a {
    font-family: 'Poppins', sans-serif;
  }

#map {
    height: 900px;
    width: 100%;
    border: 1px solid black;

}

.leaflet-div-icon {
    background: none;
    border: none;
}

.youtube{
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
}

.youtube iframe{
position: absolute;
width:  100%;
height: 100%;
}

.lawinesalzburg{
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
}

.lawinesalzburg iframe{
position: absolute;
width:  100%;
height: 80%;
}

footer {
border-top: 2px;
border-top-color: black;
margin-top: 40px;
}