body{
    max-width: 1280px;
    margin: auto;
    font-family: 'Poppins', sans-serif;
}

header {
    text-align: center;
    background-image: url("images/winter/ski-obertauern-2077093_1280.jpg");
     background-position: 0 38%;
}

h2 {
    font-size: 4em;
    font-family: 'Poppins', sans-serif;
    color: black;
    margin: 0;
    padding-bottom: 0em 0;
    padding-top: 1em 0;
}

h3 {
        font-size: 2em;
        font-family: 'Poppins', sans-serif;
        color:black;
        margin: 0;
        padding: 1em 0;}

h4 {
            font-size: 2em;
            font-family: 'Poppins', sans-serif;
            color:black;
            margin: 0;
            padding: 1em 0;

}

p {
    font-family: 'Poppins', sans-serif;
  }

  a {
    font-family: 'Poppins', sans-serif;
  }

#map {
    height: 1020px;
    width: 90%;
    border: 1px solid black;

}

.leaflet-div-icon {
    background: none;
    border: none;
}

.youtube{
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
}

.youtube iframe{
position: absolute;
width:  100%;
height: 100%;
}

.lawinesalzburg{
    width: 100%;
    height: 100%;
    padding-bottom: 90.25%;
    position: relative;
}

.lawinesalzburg iframe{
position: absolute;
width:  100%;
height: 100%;
}

